 //---------------------- Var --------------------

$body-bg: #ffffff;
$primary: #0847a1;
$p0: 0px;
$p1: 1px;
$p5: 5px;
$font: 14px;
$font1x: 16px;
$font2x: 18px;
$gridFontsize:13px;
$white: #fff;
// $body-color: $grey-600;
$grey-lite: #fefefe;
$blue-lite: #f7f9fa;
$grey: #c8ced3;
$sideMenu: #f4f5f7;
$headerbg: #0847a1;
$headerThbg: #ebf1f7; 
$eng-icon: "../img/user-icon.jpg"; 
$x-small:11px;
$small:12px;
$large:18px;
$green:#18a05e;
 //---------------------- Var /* --------------------

//---------------------- mixin--------------------

@mixin backgroundShorthand($imgpath,$position:50% 50%,$repeat: no-repeat) {
    background: transparent url(#{$imgpath}) $repeat $position;
}

/* box shadow */
.box-shadow{box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);}

.box-shadow10{box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);}


/* add new */
// Variable overrides
$primary: #0847a1;
$primaryn: #0875e1;
$white: #ffffff;
$black: #000000;
$darkBlue:#191b30;
$litegrey: #f4f4f4;
$grey: #4444;
$v1: 1px;

$greyLight:#dedede; 
$blue: #3F00FF;
$purple: #6f42c1;
$purpleDark: #353664;
$pink: #ff4fff;
$red-dark: #f00;
$red: #f86c6b;
$red-light: #d94033;
$orange: #f8cb00;
$yellow: #ffc629;
$green: #00b04d;
$green-light: #bfe88a;
$teal: #20c997;
$cyan: #17a2b8;
$white: #ffffff;
$grey: #73818f;
$grey-dark: #2f353a;
$light-blue: #63c2de;
$primary: #0847a1;  
$secondary: #c8ced3;
$success: #008000;
$info: #63c2de;
$warning: #ffc107;
$danger: #f86c6b;
$light: #f0f3f5;
$dark: #2f353a;
$x-small:10px;
$small: 12px;
$medium: 14px;
$large: 18px;

$navyBlue-light: #eaeef3;

$lightGreen:#f0f4f7;
.box-shadow {
    box-shadow: 0 4px 25px 0 rgba(0,0,0,.1);
    // box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
}
 
.box-shadow-xs {
  box-shadow: 0 0px 5px 0 rgba(0, 0, 0, 0.1); 
} 
.box-shadow-style {box-shadow:0 10px 20px -12px  rgba(0,0,0,.1)}
.mark {padding:2px; border-radius: 2px;  color: $white; font-size: 9px; font-weight: 100;     border-radius: 50%; font-family: FontAwesome;}
$blank:#000;
$gridFontsize:13px;
.auditstatus{   border-radius: 5px; text-align: center;  border:$grey solid 1px;    display: block; color: $black; padding:2px 5px 0px 5px;font-size: 11px;   }
$skyblue: #3e98d3;
$navyBlue: #1d44b3;
$subheading: rgba(115, 102, 255, 0.3);
$primaryoppsite: #05367f; 
$p5:5px; 
$loging:' ';
$logingbg:($loging);  
.spine { 
    animation: spin 2s linear infinite;
  }
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  // .bg_light{
  //   background-color: $light!important;
  // }

  
  
 
