/* css */
.below-30 {
    background-color: orangered;
  }
  
  .below-80 {
    background-color:red;
  } 
  
  .above-80 {
    background-color: greenyellow
  }
  
  .e-attr {
    background: #d7f0f4;
  }

  .e-grid .e-headercell.customcss{
    background-color: #2382c3;
    color: white;
    font-family: 'Bell MT';
    font-size: '20px';
}

.selected-btn
{
  background: #fff;
  color:#000;
}

.selected-btn:hover
{
  background: #fff;
  color:#000;
}